<% provide(:title, "Edit subject") %>
<% title "Edit Subject" %>
<%= render "subject" %>
<p>
  <%= link_to "Show", admin_subject_path(@subject) %> |
  <%= link_to "View All", admin_subjects_path %>
</p>