<% provide(:title, "about") %>

<h1>About</h1>
<p>
  The <a href="http://framgia.com"><em>Training system</em></a> is a
  <a href="http://www.railstutorial.org/book">system</a> manage
  <a href="http://screencasts.railstutorial.org/">study</a>
  web development with
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  This is the sample application for the tutorial.
</p>