<% provide(:title, "Home")%>
<div class = "center jumbotron">
  <h1>Training app</h1>
  <h2>This is the home page for the <a href= "http://www.fragia.com/">Framgia</a>
    Training app.
  </h2>
</div>
