<% provide(:title, "Subject") %>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @subjects.each do |subject| %>
    <tr>
      <td><%=h subject.name %> | </td>
      <td><%= link_to "Show", subject %> </td>
    </tr>
  <% end %>
</table>