<% provide(:title, "Subject") %>
<p>
  <strong>Name:</strong>
  <%= h @subject.name %>
  <br>
  <strong>Content:</strong>
  <%= h @subject.content %>
</p>
<ol>
  <% @subject.tasks.each do |task| %>
    <li><%= h task.name %></li>
  <% end %>
</ol>
<p>
  <%= link_to "View All", subjects_path %>
</p>