<% provide(:title, 'Course') %>
<p>
  <strong>Name:</strong>
  <%= h @course.name %>
  <br>
  <strong>Content:</strong>
  <%= @course.content %>
</p>
<aside class= "col-md-4">
  <ol>
    <% @course.subjects.each do |subject| %>
      <li><%= link_to subject.name, subject_path(subject) %></li>
    <% end %>
  </ol>
</aside>
<div class = "col-md-8">
  <ol>
    <% @course.users.each do |user| %>
      <li><%= link_to user.name, user_path(user) %></li>
    <% end %>
  </ol>
 </div>